<main>
  <h1>{{title}}</h1>
  <form method="POST" action="">
    <label for="code">Secret Code to Join the club</label>
    <input name="code" type="text">
    <button type="submit">JOIN</button>
  </form>
</main>
