<main>
 



<h1>Welcome to ? Club</h1>

{{#each messages}}
  <article>
    <header>
      {{#if currentUser.membership}}
      <h5>{{userName.userName}} said:</h5>
      {{else}}
      <h5>Someone said:</h5>
      {{/if}}
      <span>{{date_formatted}}</span>
    </header>
    <p>{{message}}</p>
  </article>
{{/each}}

</main>

