<main>
  <form action="" method="post">
    <label for="username">Username</label>
    <input name="username" type="text">
    <label for="password">Password</label>
    <input name="password" type="text">
    <button type="submit">Create New Account</button>
  </form>
</main>