<main>
  <form action="" method="post">
    <label for="first name">First Name</label>
    <input name="first name" type="text">
    <label for="last name">Last Name</label>
    <input name="last name" type="text">
    <label for="username">Username</label>
    <input name="username" type="text">
    <label for="password">Password</label>
    <input name="password" type="text">
    <label for="confirm password">Confirm Password</label>
    <input name="confirm password" type="text">
    <button type="submit">Create New Account</button>
  </form>
</main>