<main>
  <form action="" method="post">
    <label for="firstname">First Name</label>
    <input name="firstname" type="text">
    <label for="lastname">Last Name</label>
    <input name="lastname" type="text">
    <label for="username">Username</label>
    <input name="username" type="text">
    <label for="password">Password</label>
    <input name="password" type="text">
    <label for="confirm password">Confirm Password</label>
    <input name="confirm password" type="text">
    <button type="submit">Create New Account</button>
  </form>
</main>